body {
    background-color: #ff0000;
    color: #d3c6aa;
    font-family: Arial, sans-serif;
    text-align: center;
}

form {
    margin-top: 50px;
}

input, button {
    margin: 10px;
    padding: 8px;
    border-radius: 5px;
    border: none;
}

