body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background: linear-gradient(to right, #010d1c, #a2adbc, #062954);
  color: #dcd4bb;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  color: white;
}

.logo {
    font-size: 65px;
    font-weight: 700;
    background: linear-gradient(90deg, #cbb977, #a2adbc, #cbb977);
    background-size: 200%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-position 1s ease, transform 0.4s ease;
    }

    .logo:hover {
    background-position: right center;
    transform: scale(1.03);
    }
.btn {
  padding: 12px 24px;
  border: 1.5px solid rgba(203, 185, 119, 0.4);
  background: rgba(255, 255, 255, 0.05);
  color: #d4c48b;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 1rem;
}

.btn:hover {
  background: linear-gradient(90deg, #cbb977, #a2adbc);
  color: #010d1c;
}

.profile {
  text-align: center;
  padding: 60px;
}

.user-info {
  background: rgba(255,255,255,0.08);
  border: 1px solid rgba(203,185,119,0.3);
  padding: 25px;
  border-radius: 10px;
  max-width: 400px;
  margin: 0 auto 40px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.profile-card {
  background: rgba(1,16,33,0.9);
  border: 1px solid rgba(203,185,119,0.25);
  border-radius: 12px;
  padding: 20px;
  color: #e8e4d3;
  width: 260px;
  transition: 0.3s ease;
}

.profile-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 20px rgba(203,185,119,0.25);
}
